{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": [
        "es2015",
        "stage-2",
        "react",
        "react-optimize"
      ]
    }
  }
}
