.items-subscription-item {
  margin: 0 0 5px 0;

  &__header {
    .clearfix;
    cursor: pointer;
    border-bottom: none;
    padding: 0;
  }

  &__title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;

    i {
      color: #aaaaaa;
      width: 1em;
    }
    img {
      height: 16px;
      margin-right: 5px;
      vertical-align: text-bottom;
    }
  }

  &__links {
    float: right;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin: 4px 4px 4px 0;
  }

  &__counts {
    float: right;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 8px;
    margin: 6px 8px;
    background-color: white;
  }
  &__unread-count, &__item-count {
    display: inline-block;
    padding: 3px 5px;
  }
  &__unread-count {
    background-color: rgb(255, 128, 36);
    color: #ffffff;
    border-radius: 8px 0 0 8px;
  }
  &__item-count {
    background-color: white;
    color: #999999;
    border-radius: 8px;
  }

  &__items {
    padding: 0;
  }
}
