.stats-item {
  position: relative;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  border-left: 1px dotted #ddd;

  &:first-child {
    border-left: none;
  }

  &__current {
    a {
      color: inherit;
    }
    a:hover {
      text-decoration: none;
    }
    i.fa {
      font-size: 14px;
      color: #999999;
      vertical-align: 2px;
    }

    .stat__value {
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
      border-bottom: 1px solid transparent;
    }
    a .stat__value {
      border-bottom-color: #ddd;
    }
    a:hover .stat__value {
      border-bottom-color: #000;
    }

    .stat__unit {
      margin-left: 5px;
    }
  }

  &__sparkline {
    margin-top: 10px;
  }
}
