.options-form {
  legend {
    font-size: 16px;
    margin-bottom: 5px;
    padding-top: 0;
  }
  fieldset fieldset fieldset legend {
    padding-top: 15px;
  }
  .errors {
    display: none;
  }

  .form-group {
    margin-bottom: 10px;
  }
  form > .form-group {
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .field-number input[type=text] {
    width: 6em;
  }
  .field-boolean label strong {
    font-weight: normal;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #cccccc;
  }
  &__icons {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
  }
  .app-brand--version {
    display: inline-block;
    font-size: 12px;
    color: #666;
    vertical-align: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__icon {
    font-size: 24px;
    line-height: 1;
    margin-right: 10px;

    a, img {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-decoration: none;
      vertical-align: top;
    }
    .fa.fa-github {
      color: #333;
    }
    .fa.fa-twitter {
      color: rgb(22, 166, 212);
    }
  }
  &__actions {
    text-align: right;

    button {
      margin-left: 10px;
      width: 10em;
    }
  }
}
